# API key for OpenAI services
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE

# API key for Google Gemini services
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

# API key for Mistral services
MISTRAL_API_KEY=YOUR_MISTRAL_API_KEY_HERE 